#p1{
    background-color: aqua;
    flex: 1;
    order: 3;
}
#p2{
    background-color: darkcyan;
    flex: 1;
    order: 2;
}
#p3{
    background-color: blueviolet;
    flex: 1;
    order: 1;
}
.container{
    display: flex;
}
.container2{
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid wheat ;     
   
}
.box1{
    flex-grow: 5;
    flex-shrink: 5;
    flex-basis: 0px;
}