<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
  <title>Spring Boot Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">
  <h2 class="text-center">LIBRARY BOOKS</h2>  
  <a th:href="@{/add}"  class="btn btn-primary">Add Book</a>      
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Quantity</th>
         <th>Price</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book:${data}">
        <td th:text="${book.book_name}"></td>
        <td th:text="${book.auth_name}"></td>
        <td th:text="${book.quentity}"></td>
        <td th:text="${book.price}"></td>
        <td>
        	<a th:href="@{/update/{no} (no = ${book.book_id})}" class="btn btn-info">update</a>
        	<a th:href="@{/delete/{id} (id = ${book.book_id})}" class="btn btn-danger"  onclick="return confirm('Are you sure?')">delete</a>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
