*{
    background-color: antiquewhite;
}
#div1{
    height: 100px;
    background-color: #FF671F;
    margin: auto;
    margin-top: 50px;
    padding: auto;
    width: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#div2{
    height: 100px;
    background-color: #FFFFFF;
    margin: auto;
    padding: auto;
    width: 40%;
}
#div3{
    height: 100px;
    background-color: #046A38;
    margin: auto;
    width: 40%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
img{
    margin: auto;
    padding: auto;
    width: 100px;
    height: 100px;
    
}