p{
    font-family: Arvo;
    font-size: 19px;
    color: blue;
    text-align: justify;
    text-indent: 100px;
    text-transform: capitalize;
    border: 1px solid rebeccapurple;
    width: 500px;
    height: 300px;
    overflow: scroll;
    padding: auto;
    margin: auto;
    text-align: justify;
    /* box-shadow: 10px 10px 20px rgb(178, 134, 333);
    box-shadow: 10px 10px 20px rgb(148, 186, 566); */
    box-shadow: inset 10px 10px 20px rgb(178, 134, 333),
                inset -10px -10px 20px rgb(156, 123, 655);
}
.wel{
    background-color: aqua;
}
.come{
    text-decoration: underline;
}
#wel{
    font-family: Arvo;
    font-size: 19px;
    color: red;
}
#come{
    font-family: Arvo;
    font-size: 19px;
    color: lightcoral;
}
p::first-letter{
    font-size: 48px;
}
a:link{
    color: blueviolet;

}
a:visited{
    color: green;
}
a:hover{
    color: yellow;
    background-color: ;
    border-radius: 3px;
    font-size: 20px;
    box-shadow: inset 10px 10px 20px rgb(178, 134, 333),
                inset -10px -10px 20px rgb(156, 123, 655);
}
a:focus{
    color: brown;
}
a:active{
    color: violet;
}
div{
    border: goldenrod;
}
