*{
    margin: 20px;
}
table{
    height: 300px;
    width: 600px;
}
tr:nth-child(odd){
    background-color: #bf0b30;
}
tr:nth-child(even){
    background-color:#fff;
}
.star{
    background-color: #002768;
    width: 184px;
    height: 149px;
    margin-top: -319px;
}
p{
    color: aliceblue;
    font-size: 15px;
    line-height: 4px;
    letter-spacing: 8px;
    text-align: justify;
    padding:10px;
    margin:1px;
   
}
