body{
    background: rgb(2, 24, 65);
    background: linear-gradient(90deg, rgba(152, 147, 173, 0.589) 0%, rgb(48, 48, 134) 30%, rgb(59, 172, 79) 97%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#form{
    width: 350px;
    margin: 10vh auto 0 auto;
    background-color: lightgray;
    border-radius: 5px;
    padding: 25px;
}
h1{
    text-align: center;
    color: blueviolet;
}
#form button{
    background-color: rgb(46, 15, 15);
    color: white;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top:5px;
    border: 1px solid goldenrod;
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color: rgb(175, 13, 13);
    font-size: 12px;
    text-align: end;
    /* margin-top: 1px; */
}
.input-group.success input{ 
    border-color: green;
}
.input-group.error input{ 
    border-color: rgb(202, 13, 13);
}
