body{
    background-image: url(lap.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
img{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 60%;
  }
a{
    float: left;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 50px;
}
a:hover{
    color: aqua;
    text-decoration: underline;
}
h1,h2{
    color: brown;
    position: relative;
    left: 180px;
    top: 200px;
    clear: both;
}
button{
    position: relative;
    left: 200px;
    top: 200px;
    padding:20px ;
    border-radius: 20px;
    border: 1px solid aqua;
    background-color: aqua;
    font-size: 15px;
    color:black;
    font-weight: bolder;
}
button:hover{
    background-color: greenyellow;
    font-size: 16px;
}