body{
   background-color: #102770;
}
#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    text-transform: capitalize;
    color: maroon;
    font-weight: bolder;
    text-align: justify;
}
#wrapper{
    height:300px;
    width:400px;
    margin:130px auto;
    background-color:rgba(217, 208, 208,.5);
    border-radius:10px;
    padding:30px;
   
}
button{
    margin:50px;
    background-color:#ffeba7;
    font-weight: bolder;
    padding: 15px;
    letter-spacing: 1px;
    border: none;
    color:green;
    border-radius: 5px;
}
button:hover{
    cursor:pointer;
    background-color: lightseagreen;
    color: #ffeba7;
}